.main-layout
  min-width: 1000px

.clear-nav
  background-color: inherit
  box-shadow: inherit

li.home-nav > a
  color: #424242

.header-layout
  background: url("/images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px
  text-align: center

.content
  text-align: center

.row-container
  margin: 50px 20px

.tagline
  text-align: center

.row-container > div.text-container
  text-align: left
  padding-left: 50px

.home-image
  height: 100%
  width: 100%

.description
  margin: 10px

.bullet-list
  margin: 20px

li.description-list
    list-style-type: circle !important

.tooltip
  color: inherit
