new-button-margins = 10px
$inline-divs
  display: inline-block
  position: relative

.menubar-menu
  text-align: center

.menubar-search-wrapper
  @extends $inline-divs
  width: 90%

.new-button
  margin: 10px
