@import url('https://fonts.googleapis.com/css?family=Roboto')
navbar-left-right-margins = 30px

.nav-wrapper
  margin: 0px navbar-left-right-margins

body
  font-family: 'Roboto', sans-serif
  color: #555
