outer-margin = 50px
paragraph-color = #BDBDBD

// .recipebook-content
//   margin: outer-margin;

h2
  color: paragraph-color
  font-size: x-large

.fa-book
    margin-right: 10px

.cursor-pointer
  cursor: pointer
